Repository bounswe/bounswe2018group2, pull requests merged in 2018-11, with the labels that each got.

#166 Android/feature/floating action button
  android/WorkHub/app/build.gradle
  android/WorkHub/app/src/main/java/com/android/workhub/activities/MainActivity.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/MainPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/ProfilePage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/GetSelfReturnModel.java
  android/WorkHub/app/src/main/res/layout/activity_main.xml
  android/WorkHub/app/src/main/res/layout/fragment_main_page.xml
  android/WorkHub/app/src/main/res/layout/fragment_profile_page.xml
Labels: android, enhancement :rocket:

#175 Android/feature/get all jobs
  android/WorkHub/app/build.gradle
  android/WorkHub/app/src/main/java/com/android/workhub/JobAdapter.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/MainPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/GetAllJobsReturnModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/JobModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/HttpRequester.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/GetAllJobsTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/GetSelfTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/WorkHubRequester.java
  android/WorkHub/app/src/main/res/layout/sample_job_item.xml
Labels: android, enhancement :rocket:

#178 Job details end point is ready. Apidoc and related migrations are created.
  backend/workhub/apidoc/api_data.js
  backend/workhub/apidoc/api_data.json
  backend/workhub/apidoc/api_project.js
  backend/workhub/apidoc/api_project.json
  backend/workhub/apidoc/locales/locale.js
  backend/workhub/controllers/job_controller.js
  backend/workhub/migrations/20181116103750-job_new_columns.js
  backend/workhub/models/job.js
  backend/workhub/models/user.js
  backend/workhub/routes/index.js
Labels: backend :door:

#179 add CreateJob
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/Properties.js
  frontend/src/components/HeaderBar/HeaderBar.jsx
  frontend/src/data/api.js
  frontend/src/pages/CreateJob/CreateJob.jsx
  frontend/src/pages/CreateJob/index.jsx
  frontend/yarn.lock
Labels: frontend :paintbrush:

#180 use auth mw in job creation
  backend/workhub/controllers/job_controller.js
  backend/workhub/package-lock.json
  backend/workhub/routes/index.js
Labels: backend :door:

#187 Job Detail Page
  android/WorkHub/app/src/main/java/com/android/workhub/activities/MainActivity.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobDetailPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/MainPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/JobDetailModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/JobDetailReturnModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/UserModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/JobDetailTask.java
  android/WorkHub/app/src/main/res/layout/fragment_jobdetail_page.xml
Labels: enhancement :rocket:

#182 Frontend/feature/job detail
  backend/workhub/controllers/job_controller.js
  frontend/src/App.js
  frontend/src/Properties.js
  frontend/src/components/HeaderBar/HeaderBar.jsx
  frontend/src/data/api.js
  frontend/src/pages/CreateJob/CreateJob.jsx
  frontend/src/pages/Dashboards/Client/Client.jsx
  frontend/src/pages/Dashboards/DashboardBase.jsx
  frontend/src/pages/Dashboards/Freelancer/Freelancer.jsx
  frontend/src/pages/Dashboards/index.js
  frontend/src/pages/JobDetail/JobBiddings.jsx
  frontend/src/pages/JobDetail/JobDetailBody.jsx
  frontend/src/pages/JobDetail/JobDetailContainer.jsx
  frontend/src/pages/JobDetail/JobDetailPresentation.jsx
  frontend/src/pages/JobDetail/JobDetailUser.jsx
  frontend/src/pages/JobDetail/index.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Profiles/Client/Client.jsx
  frontend/src/pages/Profiles/Client/ClientArea.jsx
  frontend/src/pages/Profiles/Freelancer/Freelancer.jsx
  frontend/src/pages/Profiles/Freelancer/FreelancerArea.jsx
  frontend/src/pages/Profiles/ProfileProxy.jsx
Labels: backend :door:, frontend :paintbrush:

#191 Handle Error Messages via corresponding Exceptions
  android/WorkHub/app/build.gradle
  android/WorkHub/app/src/main/java/com/android/workhub/utils/HttpRequestHelper.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/HttpRequester.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/BadRequestException.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/ForbiddenException.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/InternalServerError.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/NotFoundException.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/ServerErrorException.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/error/UnauthorizedException.java
Labels: android, enhancement :rocket:
