Repository bounswe/bounswe2018group2, pull requests merged in 2018-12, with the labels that each got.

#205 use api data in job detail
  frontend/src/pages/JobDetail/JobDetailBody.jsx
  frontend/src/pages/JobDetail/JobDetailPresentation.jsx
Labels: frontend :paintbrush:

#206 Frontend/feature/populate dashboard
  frontend/src/Properties.js
  frontend/src/data/api.js
  frontend/src/pages/Dashboards/DashboardBase.jsx
Labels: frontend :paintbrush:

#210 Add bidding list in job detail page
  frontend/src/App.css
  frontend/src/pages/JobDetail/JobBiddingCard.jsx
  frontend/src/pages/JobDetail/JobBiddings.jsx
  frontend/src/pages/JobDetail/JobDetailContainer.jsx
  frontend/src/pages/JobDetail/JobDetailPresentation.jsx
Labels: frontend :paintbrush:

#204 Bidding description migration added. Accept and reject bids are added
  backend/workhub/apidoc/api_data.js
  backend/workhub/apidoc/api_data.json
  backend/workhub/apidoc/api_project.js
  backend/workhub/apidoc/api_project.json
  backend/workhub/controllers/job_controller.js
  backend/workhub/migrations/20181201145348-job_biddings_add_description.js
  backend/workhub/models/job_biddings.js
  backend/workhub/routes/index.js
Labels: backend :door:

#213 Added extra notifications to bid creation/acceptance/rejection
  backend/workhub/controllers/job_controller.js
  backend/workhub/migrations/20181202114610-notifications_add_enums.js
  backend/workhub/models/notifications.js
Labels: backend :door:

#212 Add accept bid dialog and action
  frontend/src/Properties.js
  frontend/src/data/api.js
  frontend/src/pages/JobDetail/JobBiddingCard.jsx
  frontend/src/pages/JobDetail/JobBiddings.jsx
  frontend/src/pages/JobDetail/JobDetailContainer.jsx
  frontend/src/pages/JobDetail/JobDetailPresentation.jsx
Labels: frontend :paintbrush:

#223 Accept Bid and Reject Bid
  android/WorkHub/app/src/main/java/com/android/workhub/BidAdapter.java
  android/WorkHub/app/src/main/java/com/android/workhub/activities/MainActivity.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/AllBidsPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobDetailPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobsPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/MainPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/PostBidModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/AcceptBidTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/RejectBidTask.java
  android/WorkHub/app/src/main/res/layout/fragment_jobdetail_page.xml
  android/WorkHub/app/src/main/res/layout/fragment_jobs_page.xml
  android/WorkHub/app/src/main/res/layout/sample_bid_item.xml
Labels: android, enhancement :rocket:

#230 Backend/feature/job updates
  .idea/workspace.xml
  backend/workhub/.gitignore
  backend/workhub/apidoc/api_data.js
  backend/workhub/apidoc/api_data.json
  backend/workhub/apidoc/api_project.js
  backend/workhub/apidoc/api_project.json
  backend/workhub/apidoc/locales/locale.js
  backend/workhub/controllers/job_controller.js
  backend/workhub/migrations/20181216172135-create-job-update.js
  backend/workhub/models/job_update.js
  backend/workhub/routes/index.js
Labels: backend :door:

#234 Job Bug Fixes
  android/WorkHub/app/src/main/java/com/android/workhub/JobAdapter.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobDetailPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobsPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/MainPage.java
  android/WorkHub/app/src/main/res/layout/fragment_jobdetail_page.xml
Labels: android, bug :beetle:

#237 Create Job Update functionality added for freelancers
  android/WorkHub/app/src/main/java/com/android/workhub/activities/SignupActivity.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobDetailPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobsPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/CreateUpdateModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/CreateUpdateTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/GetSelfJobsTask.java
  android/WorkHub/app/src/main/res/layout/fragment_jobdetail_page.xml
Labels: android, enhancement :rocket:

#238 requestUpdate and some designs
  android/WorkHub/app/src/main/java/com/android/workhub/activities/MainActivity.java
  android/WorkHub/app/src/main/java/com/android/workhub/fragments/JobDetailPage.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/RequestUpdateModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/GetSelfJobsTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/RequestJobTask.java
  android/WorkHub/app/src/main/res/drawable/button_shape.xml
  android/WorkHub/app/src/main/res/drawable/deneme.png
  android/WorkHub/app/src/main/res/drawable/search.png
  android/WorkHub/app/src/main/res/drawable/search_bar.xml
  android/WorkHub/app/src/main/res/layout/activity_login.xml
  android/WorkHub/app/src/main/res/layout/activity_main.xml
  android/WorkHub/app/src/main/res/layout/activity_signup.xml
  android/WorkHub/app/src/main/res/layout/create_job.xml
  android/WorkHub/app/src/main/res/layout/fragment_jobdetail_page.xml
  android/WorkHub/app/src/main/res/layout/fragment_main_page.xml
  android/WorkHub/app/src/main/res/layout/fragment_profile_edit_page.xml
  android/WorkHub/app/src/main/res/layout/fragment_profile_page.xml
  android/WorkHub/app/src/main/res/layout/sample_bid_item.xml
  android/WorkHub/app/src/main/res/layout/sample_job_item.xml
  android/WorkHub/app/src/main/res/values/colors.xml
Labels: android, enhancement :rocket:
