Repository bounswe/bounswe2018group2, pull requests merged in 2018-10, with the labels that each got.

#110 Initialized frontend part of the app
  frontend/.env
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/yarn.lock
Labels: frontend :paintbrush:

#113 add now.json
  frontend/now.json
  frontend/src/App.js
Labels: enhancement :rocket:

#116 Backend initial commit. Mysql db connection is set. User model is created
  backend/workhub/.gitignore
  backend/workhub/app.js
  backend/workhub/bin/www
  backend/workhub/config/config.json
  backend/workhub/migrations/20181013124336-create-user.js
  backend/workhub/models/index.js
  backend/workhub/models/user.js
  backend/workhub/node
  backend/workhub/package-lock.json
  backend/workhub/package.json
  backend/workhub/routes/index.js
  backend/workhub/workhub@0.0.0
Labels: backend :door:

#122 init android project
  android/WorkHub/.gitignore
  android/WorkHub/.idea/caches/build_file_checksums.ser
  android/WorkHub/.idea/codeStyles/Project.xml
  android/WorkHub/.idea/dictionaries/ahmetozantatlisu.xml
  android/WorkHub/.idea/gradle.xml
  android/WorkHub/.idea/misc.xml
  android/WorkHub/.idea/runConfigurations.xml
  android/WorkHub/app/.gitignore
  android/WorkHub/app/build.gradle
  android/WorkHub/app/proguard-rules.pro
  android/WorkHub/app/src/androidTest/java/com/android/workhub/ExampleInstrumentedTest.java
  android/WorkHub/app/src/main/AndroidManifest.xml
  android/WorkHub/app/src/main/java/com/android/workhub/MainActivity.java
  android/WorkHub/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/WorkHub/app/src/main/res/drawable/ic_launcher_background.xml
  android/WorkHub/app/src/main/res/layout/activity_main.xml
  android/WorkHub/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/WorkHub/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/WorkHub/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/WorkHub/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/WorkHub/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/WorkHub/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/WorkHub/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/WorkHub/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/WorkHub/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/WorkHub/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/WorkHub/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/WorkHub/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/WorkHub/app/src/main/res/values/colors.xml
  android/WorkHub/app/src/main/res/values/strings.xml
  android/WorkHub/app/src/main/res/values/styles.xml
  android/WorkHub/app/src/test/java/com/android/workhub/ExampleUnitTest.java
  android/WorkHub/build.gradle
  android/WorkHub/gradle.properties
  android/WorkHub/gradle/wrapper/gradle-wrapper.jar
  android/WorkHub/gradle/wrapper/gradle-wrapper.properties
  android/WorkHub/gradlew
  android/WorkHub/gradlew.bat
  android/WorkHub/settings.gradle
Labels: android

#131 Initializing of util classes
  android/WorkHub/app/src/main/java/com/android/workhub/models/SimpleMessageModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Authentication.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/WorkHubServiceListener.java
Labels: android, enhancement :rocket:

#134 use evergreen, add router; update login page
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/Login/style.css
  frontend/src/reset.css
  frontend/yarn.lock
Labels: frontend :paintbrush:

#139 Frontend/feature/singup page evergreen
  frontend/src/App.js
  frontend/src/pages/404/404.jsx
  frontend/src/pages/404/index.jsx
  frontend/src/pages/SignupPage/SignupPage.jsx
  frontend/src/pages/SignupPage/index.jsx
Labels: frontend :paintbrush:

#140 add prettier and pre-commit hook
  .gitignore
  .prettierrc.js
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/index.js
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/serviceWorker.js
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: enhancement :rocket:, frontend :paintbrush:

#150 Frontend/feature/add ci
  .circleci/config.yml
  .gitignore
  node_modules/.yarn-integrity
  pm2.config.json
  scripts/deploy.sh
  scripts/deploy_backend.sh
  scripts/deploy_frontend.sh
Labels: enhancement :rocket:

#157 Backend/feature/profile default
  backend/workhub/app.js
  backend/workhub/controllers/user_controller.js
  backend/workhub/middleware/auth.js
  backend/workhub/middleware/index.js
  backend/workhub/models/profile.js
  backend/workhub/models/user.js
  backend/workhub/package-lock.json
  backend/workhub/routes/index.js
  package-lock.json
  package.json
Labels: backend :door:
