Repository bounswe/bounswe2018group2, pull requests merged in 2018-04, with the labels that each got.

#82 Backend flask commited
  practice_app/backend/LICENSE.txt
  practice_app/backend/Pipfile
  practice_app/backend/Pipfile.lock
  practice_app/backend/README 2.md
  practice_app/backend/__init__.py
  practice_app/backend/app.sqlite
  practice_app/backend/app/README.md
  practice_app/backend/app/__init__.py
  practice_app/backend/app/__init__.pyc
  practice_app/backend/app/commands/__init__.py
  practice_app/backend/app/commands/__init__.pyc
  practice_app/backend/app/commands/init_db.py
  practice_app/backend/app/commands/init_db.pyc
  practice_app/backend/app/local_settings.py
  practice_app/backend/app/local_settings.pyc
  practice_app/backend/app/local_settings_example.py
  practice_app/backend/app/models/__init__.py
  practice_app/backend/app/models/__init__.pyc
  practice_app/backend/app/models/user_models.py
  practice_app/backend/app/models/user_models.pyc
  practice_app/backend/app/settings.py
  practice_app/backend/app/settings.pyc
  practice_app/backend/app/static/bootstrap/css/bootstrap.min.css
  practice_app/backend/app/static/bootstrap/css/bootstrap.min.css.map
  practice_app/backend/app/static/bootstrap/js/bootstrap.min.js
  practice_app/backend/app/static/bootstrap/js/html5shiv.min.js
  practice_app/backend/app/static/bootstrap/js/jquery.min.js
  practice_app/backend/app/static/bootstrap/js/respond.min.js
  practice_app/backend/app/static/css/app.css
  practice_app/backend/app/templates/README.md
  practice_app/backend/app/templates/common/form_macros.html
  practice_app/backend/app/templates/layout.html
  practice_app/backend/app/templates/main/admin_page.html
  practice_app/backend/app/templates/main/home_page.html
  practice_app/backend/app/templates/main/main_base.html
  practice_app/backend/app/templates/main/user_page.html
  practice_app/backend/app/templates/main/user_profile_page.html
  practice_app/backend/app/views/__init__.py
  practice_app/backend/app/views/__init__.pyc
  practice_app/backend/app/views/main_views.py
  practice_app/backend/app/views/main_views.pyc
  practice_app/backend/fabfile.py
  practice_app/backend/manage.py
  practice_app/backend/migrations/README.md
  practice_app/backend/migrations/alembic.ini
  practice_app/backend/migrations/env.py
  practice_app/backend/migrations/script.py.mako
  practice_app/backend/migrations/versions/0001c8ac1a69_initial_version.py
  practice_app/backend/requirements.txt
  practice_app/backend/server.py
  practice_app/backend/service/api.py
  practice_app/backend/tests/.coveragerc
  practice_app/backend/tests/README.md
  practice_app/backend/tests/__init__.py
  practice_app/backend/tests/conftest.py
  practice_app/backend/tests/test_page_urls.py
  practice_app/backend/tox.ini
Labels: backend :door:

#81 added css file and one line is changed in the html file
  practice_app/frontend/api.js
  practice_app/frontend/frontend.css
  practice_app/frontend/index.html
Labels: frontend :paintbrush:, medium priority :cop:, needs feedback :eyes:

#79 Added search functionality with debounce
  practice_app/frontend/api.js
  practice_app/frontend/index.html
  practice_app/frontend/index.js
Labels: frontend :paintbrush:
