Repository bounswe/bounswe2018group2, pull requests merged in 2019-01, with the labels that each got.

#247 Add semantic search
  frontend/src/Properties.js
  frontend/src/data/api.js
  frontend/src/pages/Dashboards/DashboardBase.jsx
Labels: high priority :guardsman:

#253 Backend/feature/get all categories
  backend/workhub/apidoc/api_data.js
  backend/workhub/apidoc/api_data.json
  backend/workhub/apidoc/api_project.js
  backend/workhub/apidoc/api_project.json
  backend/workhub/apidoc/locales/locale.js
  backend/workhub/app.js
  backend/workhub/controllers/job_controller.js
  backend/workhub/controllers/user_controller.js
  backend/workhub/migrations/20190101145501-create-freelancer-category.js
  backend/workhub/migrations/20190101165320-add_status_to_job.js
  backend/workhub/migrations/20190101175149-add_description_to_job.js
  backend/workhub/models/freelancer_category.js
  backend/workhub/models/job.js
  backend/workhub/models/job_category.js
  backend/workhub/models/job_update.js
  backend/workhub/routes/index.js
Labels: backend :door:

#258 endpoints of added feature
  android/WorkHub/app/src/main/java/com/android/workhub/models/AddInterestModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/CategoryModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/GetCategoriesReturnModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/GetMediaReturnModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/MediaModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/models/RemoveInterestModel.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/EndpointManager.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/ServerCall.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/AddInterestTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/GetCategoriesTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/MediaUploadTask.java
  android/WorkHub/app/src/main/java/com/android/workhub/utils/Tasks/RemoveInterestTask.java
Labels: android, enhancement :rocket:
